#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skill{
    margin: 1rem 0;
    padding: 0 1rem;
    position: relative;
    width: 8rem;
    height: 80px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* icon colors*/
.skill__icon > .fa-html5 {
    color: blue;
}

.skill__icon > .fa-css3-alt {
    color: red;

}

.skill__icon > .fa-github,
.skill__icon > .fa-object-group {
    color: black;
}

.skill__icon > .fa-bootstrap {
    color: rgb(70, 0, 128);
}

.skill__icon > .fa-php {
    color: rgb(151, 73, 151);
    font-weight: bold;
}

.skill__icon > .fa-database {
    color: grey;
}

.skill__icon > .fa-js-square {
    color: rgb(238, 220, 61);
}

.skill__icon > .inline-fab {
    font-size: 4rem;
}

.skill__icon{
    width: 100%;
}

.skill__name{
    position: absolute;
    width: fit-content;
    text-align: center;
    opacity: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    border-radius: 5px;
    background-color: lightgray;
    padding: 3px 5px;
}

.skill__name::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -10px;
    left: calc(100% / 2 - 10px);
    background-color: lightgray;
    z-index: -1;
    transform: rotate(45deg);
}

.skill:active > .skill__name{
    display: block;
    opacity: 100%;
    top: -30px;
}

@media (min-width:768px){
    .skill:hover > .skill__name{
        display: block;
        opacity: 100%;
        top: -30px;
    }
}