* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

body{
    position: relative;
    min-width: 320px;
}

.header {
    background-color: black;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.header__background-image{
    position: absolute;
    max-width: 100%;
    min-width: 900px;
    top: 0;
    opacity: 0.5;
    z-index: -1;
    min-height: 500px;
}

/* .header__title{
    font-size: 3rem;
    letter-spacing: 6px;
} */

.header__title,
.header__subtitle{
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black;
    padding-bottom: 5rem;
    padding-left: 5%;
}

.header__subtitle{
    width: 100%;
    font-size: 1.1rem;
    line-height: 2rem;
}

.navbar{
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 0 5%;
    /* right: 10px; */

    display: flex;
    justify-content: space-between;
}

.navbar__item {
    font-size: 1rem;
    color: white;
    padding-bottom: 1rem;
}

.navigation__link{
    color: white;
    padding-right: 30px;
    text-decoration: none;

}

.sm-links{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}


.navigation__link:hover{
    text-decoration: underline;
}

/* .fa-github-square {
    size: 5rem;
    color: blue;
} */



.oclock-link {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.oclock-link:hover {
    text-decoration: none;
}


/* nav bar */
.navbar__item > .fab {
    font-size: 2rem;
    color: white;
    /* padding: 0.5rem 2rem; */
}

.navigation{
    visibility: hidden;
}



/* container */

.carousel-container{
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: top;
}


.pagination{
    display: flex;
    justify-content: center;
} 

 .pagination-btn{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;

    padding: 0 2rem;
    margin: 0 2px;
    text-decoration: none;
    border: 1px solid black;

    transition: all 0.2s ease-in-out;
}

.pagination-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.left:active {
    transition: all 0.1s ease-in-out;
    transform: translateX(-10px);
}
.right:active {
    transition: all 0.1s ease-in-out;
    transform: translateX(10px);
} 

/* .inline-fab {
    font-size: 5rem;
} */

.main__resume > .inline-fab{
    font-size: 1.2rem;
}



/* main */
.main {
    margin: auto 5%;
    max-width: 900px;
}

.main__section{
    padding-bottom: 2rem;
}


.main__header {
    text-align: center;
    padding: 3rem 0 2rem;
    font-size: 3rem;
}

.main__resume,
.resume__list{
    line-height: 2rem;
}

.resume__list{
    padding-left: 2rem;
}

.list-button {
    width: 4rem;
}

.list {
    margin-left: 3rem;
}

.project-card{
    width: 200px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.project-card__title{
    height: 20%;
}
.project-card__image{
    width: 100%;
}

.back-to-top__icon{
    position: fixed;
    color: darkgray;
    font-size: 4rem;
    right: 20px;
    bottom: 20px;

}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.footer {
    padding: 0.8rem;
}

.fa-heart{
    font-size: 1.1rem;
}

.footer__authors-attributes{
    font-size: x-small;
}

.footer__link {
    color: white;
}

#done-projects__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#doing-projects__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.doing-projects__list-item{
    width: auto;
}

.back-to-top{
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
}

.hidden{
    display: none;
}



/*
MEDIA QUERIES

*/

@media (min-width:390px){
    .header__title{
        width: 80%;
    }
}

@media (min-width:500px){

    .navigation{
        visibility: visible;
        font-size: 0.9rem;
    }

    .navigation__link{
        padding-right: 7px;
    }

    .sm-links{
        padding-top: 0;
    }
}

@media (min-width:768px){
    .header__title{
        font-size: 2rem;
        letter-spacing: 2px;
        margin-top: 4rem;
    }

    .header__subtitle{
        width: 50%;
        font-size: 1.3rem;
        line-height: 2.5rem;
        letter-spacing: 2px;
    }

    /* nav bar */
    .navbar__item > .fab {
        font-size: 2rem;
        color: white;
        padding: 0.5rem 2rem;
    }

    .sm-links{
        flex-direction: row;
    }

    /* main */
    .main {
        margin: 0 auto;
        padding: 0 5%;
    }

    #done-projects__list{
        justify-content: space-between;
    }
    
}

@media (min-width:1024px){
    .header__title{
        font-size: 3rem;
        letter-spacing: 6px;
    }

    .navigation__link{
        padding-right: 50px;
        font-size: 1rem;
    }


}
