* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

body{
    position: relative;
}

.header {
    background-color: black;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.header__background-image{
    position: absolute;
    max-width: 100%;
    min-width: 900px;
    top: 0;
    opacity: 0.5;
    z-index: -1;
    min-height: 500px;
}

/* .header__title{
    font-size: 3rem;
    letter-spacing: 6px;
} */

.header__title,
.header__subtitle{
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black;
    padding-bottom: 5rem;
    padding-left: 5%;
}

.header__subtitle{
    width: 100%;
    font-size: 1.1rem;
    line-height: 2rem;
}

.navbar{
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 0 5%;
    /* right: 10px; */

    display: flex;
    justify-content: space-between;
}

.navbar__item {
    font-size: 1rem;
    color: white;
    padding-bottom: 1rem;
}

.navigation__link{
    color: white;
    padding-right: 30px;
    text-decoration: none;

}

.sm-links{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}


.navigation__link:hover{
    text-decoration: underline;
}

/* .fa-github-square {
    size: 5rem;
    color: blue;
} */



.oclock-link {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.oclock-link:hover {
    text-decoration: none;
}


/* nav bar */
.navbar__item > .fab {
    font-size: 2rem;
    color: white;
    /* padding: 0.5rem 2rem; */
}

.navigation{
    visibility: hidden;
}

/* icon colors*/
.skill__icon > .fa-html5{
 color: blue;
}
.skill__icon > .fa-css3-alt{
 color: red;

}
.skill__icon > .fa-github,
.skill__icon > .fa-object-group{
 color: black;
}

.skill__icon > .fa-bootstrap{
 color: rgb(70, 0, 128);
}
.skill__icon > .fa-php{
 color: rgb(151, 73, 151);
 font-weight: bold;
}

.skill__icon > .fa-database{
 color: grey;
}

.skill__icon > .fa-js-square{
 color: rgb(238, 220, 61);
}

/* container */
#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inline-fab {
    padding: 0;
    font-size: 5rem;
}

.main__resume > .inline-fab{
    font-size: 1.2rem;
}

.skill__icon > .inline-fab{
    font-size: 7rem;
}


/* main */
.main {
    margin: auto 5%;
    max-width: 900px;
}

.section{
    padding-bottom: 2rem;
}

.skill{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
}

.skill:nth-child(2n){
    flex-direction: row-reverse;
}


.skill__icon,
.skill__list {
    width: 50%;
    text-align: center;
}

.skill__list{
    list-style: none;
}

.main__header {
    text-align: center;
    padding: 3rem 0 2rem;
    font-size: 3rem;
}

.main__resume,
.resume__list{
    line-height: 2rem;
}

.resume__list{
    padding-left: 2rem;
}

.list-button {
    width: 4rem;
}

.list {
    margin-left: 3rem;
}

.project-card{
    width: 200px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.project-card__title{
    height: 20%;
}
.project-card__image{
    width: 100%;
}

.back-to-top__icon{
    position: fixed;
    color: darkgray;
    font-size: 4rem;
    right: 20px;
    bottom: 20px;

}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.footer {
    padding: 0.8rem;
}

.fa-heart{
    font-size: 1.1rem;
}

.footer__authors-attributes{
    font-size: x-small;
}

.footer__link {
    color: white;
}

#done-projects__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#doing-projects__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.doing-projects__list-item{
    width: auto;
}

@media (min-width:390px){
    .header__title{
        width: 80%;
    }
}

@media (min-width:500px){
    .navigation{
        visibility: visible;
        font-size: 0.9rem;
    }

    .navigation__link{
        padding-right: 7px;
    }

    .sm-links{
        padding-top: 0;
    }
}

@media (min-width:768px){
    .header__title{
        font-size: 2rem;
        letter-spacing: 2px;
        margin-top: 4rem;
    }

    .header__subtitle{
        width: 50%;
        font-size: 1.3rem;
        line-height: 2.5rem;
        letter-spacing: 2px;
    }

    /* nav bar */
    .navbar__item > .fab {
        font-size: 2rem;
        color: white;
        padding: 0.5rem 2rem;
    }

    .sm-links{
        flex-direction: row;
    }

    /* main */
    .main {
        margin: 0 auto;
    }

    #done-projects__list{
        justify-content: space-between;
    }
    
}

@media (min-width:1024px){
    .header__title{
        font-size: 3rem;
        letter-spacing: 6px;
    }

    .navigation__link{
        padding-right: 50px;
        font-size: 1rem;
    }


}
