* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


/* container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/* header */
.header {
    padding: 0.5rem;
}


/* nav bar */
.fab {
    font-size: 2rem;
    color: white;
    padding: 0.5rem 2rem;
}

.inline-fab {
    padding: 0;
    font-size: 1.5rem;
    color: black;
}

.header__title,
.navbar {
    text-align: center;
}

.oclock-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.oclock-link:hover {
    text-decoration: underline;
}

/* main */
.main {
    padding: 1rem 0.5rem 3rem;
}

.section{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 0 0.5rem grey;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}


.section__title {
    position: absolute;
    transition: all 0.5s ease-in;
    top:5px;
    font-size: 2rem;
    z-index: 1;
}

.section__list {
    padding-left: 3rem;
    opacity: 100%;
    padding-bottom: 0;
    position: absolute;
    transition: all 0.5s ease-in;
    z-index: 1;

}


.main__header,
.main__resume {
    text-align: center;
    padding-bottom: 2rem;
}

.list-button {
    width: 4rem;
}

.list {
    margin-left: 3rem;
}

/* footer */
.header,
.footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.footer {
    padding: 0.8rem;
}

.fa-heart{
    font-size: 1.1rem;
}

.list-hidden > .section__list{
    /* display: none; */
    opacity: 0;
    padding-bottom: 200px;
}

.list-hidden > .section__title{
    top: 100px;
    font-size: 3rem;
}

@media (min-width:425px){
    .list-hidden > .section__title{
        font-size: 4rem;
    }
}



